.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.ant-card-body{
  padding: 0px;
}

.App-header {
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.availableColours{
    margin: 10px;
}
.availableSizes{
  margin-bottom: 10px;
}
.ant-radio-button-wrapper {
  margin-left: 5px;
}

.sampleSiteWrapper{
  display:flex;
  flex-wrap: wrap;
}
.whiteTabs{
  background: rgba(110, 108, 108, 0.769);
  width: 20px;
  height: 20px;
  border-radius: 100px;
  border: 2px;
  display: inline-block;
  margin:5px;
}
.redTabs{
  background: red;
  width: 20px;
  height: 20px;
  border-radius: 100px;
  border: 2px;
  display: inline-block;
  margin:5px;
}
.greenTabs{
  background: green;
  width: 20px;
  height: 20px;
  border-radius: 100px;
  border: 2px;
  display: inline-block;
  margin:5px;
}
.blueTabs{
  background: blue;
  width: 20px;
  height: 20px;
  border-radius: 100px;
  border: 2px;
  display: inline-block;
  margin:5px;
}
.yellowTabs{
  background: rgb(24, 24, 24);
  width: 20px;
  height: 20px;
  border-radius: 100px;
  border: 2px; 
  display: inline-block;
  margin:5px;
}

.sizeVariation{
  color: black;
    background: #eee;
    margin: 12px 5px;
    width: 30px;
    height: 18px;
    font-size: 15px;
    display: inline-block;
}

.priceGroup {
font-weight: bolder;
}

.colorGroup{
  display: contents;
  width: 1rem;
  height: 2rem;
  border: 0px;
}

